<div class="card mb-4">
  <div class="row g-0">
    <div class="col-md-4 m-auto d-flex justify-content-center">
      <img src="{{user.image}}" class="img-responsive center-block" style="width: 250px;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text">{{user.email}}</p>
        <p>{{count}}已評論餐廳</p>
        <a href="/users/{{user.id}}/edit">
          <button type="button" class="btn btn-primary mt-5 mb-3">Edit</button>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <p class="card-header">{{count}}已評論餐廳</p>
  <div class="card-body">
    {{#each comments}}
    <a href="/restaurants/{{this.Restaurant.id}}">
      <img src="{{this.Restaurant.image}}" style="width: 100px;">
    </a>
    {{/each}}
  </div>
</div>